.whole-body{

}

.container{
   text-align: center;
    background-color: white;  
    padding-top: 200px;
    padding-left: 100px;
}

.quote-btn{
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 2px;
}





